{
    "board": {
        "board_diameter": 23,
        "hole_diameter": 6,
        "board_thickness": 1,
        "n_layers": 8
    },
    "coils": {
        "n_phases": 3,
        "n_slots_per_phase": 2,
        "trace_width": 0.1,
        "trace_spacing": 0.1
    },
    "vias": {
        "via_diameter": 0.45,
        "via_drill_diameter": 0.3
    }
}