{
    "board": {
        "board_shape": "square",
        "board_diameter": 42,
        "hole_diameter": 18,
        "board_chamfer": 4,
        "board_fillet": 3,
        "board_thickness": 1.0,
        "n_layers": 8,
        "board_outer_margin": 3,
        "board_inner_margin": 1.0,
        "rotation": -15,
        "mountpoints": {
            "n_mountpoints": 4,
            "mountpoints_position_radius": 23,
            "mountpoints_diameter": 3,
            "mountpoints_marking_diameter": 5.5
        }
    },
    "coils": {
        "trace_width": 0.1,
        "trace_spacing": 0.1,
        "n_phases": 3,
        "n_slots_per_phase": 4,
        "coil_angle": null,
        "four_layers_inner_vias": false,
        "max_turns_per_layer": null,
        "coil_names_font_size": null,
        "coil_names_offset": null,
        "series_link": {
            "link_series_coils": true,
            "series_link_inner_trace_width": 0.3,
            "series_link_outer_trace_width": 0.6,
            "series_link_inner_offset": 0.0,
            "series_link_outer_offset": 0.0
        },
        "com_link": {
            "link_com": true,
            "com_link_trace_width": 0.6,
            "com_link_offset": 0.0
        }
    },
    "vias": {
        "via_diameter": 0.45,
        "via_drill_diameter": 0.3,
        "outer_vias_offset": 0.0,
        "inner_vias_offset": 0.4
    },
    "terminals": {
        "terminal_type": "through_hole",
        "terminal_diameter": 1.5,
        "terminal_hole_diameter": 0.8,
        "terminal_offset": 0.0
    },
    "magnets": {
        "magnets_diameter": null,
        "magnets_position_radius": null
    },
    "display": {
        "draw_vias": true,
        "draw_terminals": true,
        "draw_outline": true,
        "draw_construction_geometry": true,
        "draw_only_layers": null,
        "draw_coil_names": true,
        "draw_magnets": true
    },
    "svg": {
        "svg_profile": "tiny",
        "svg_scale": 100
    }
}